.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 5rem;
}
.contact .card-primary {
    flex: 1;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100%;
}
.contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.contact .btn i {
    color: white;
}
@media(max-width: 768px) {
    .contact {
        flex-direction: column;
    }
    .contact .btn {
        align-self: stretch;
    }
}