.contactPage {
    padding-top: 10rem;
}
.contact-head {
    padding-bottom: 3rem;
}
.contact-container {
    background-color: var(--card-clr);
    box-shadow: 0px 0px 2px var(--header-strok-clr);
    border-radius: var(--header-corner);
    -webkit-border-radius: var(--header-corner);
    -moz-border-radius: var(--header-corner);
    -ms-border-radius: var(--header-corner);
    -o-border-radius: var(--header-corner);
}
.contact-container > * {
    padding: 1rem 2rem;
}
.contact-container__header {
    display: flex;
    align-items: center;
    border: 1px solid var(--header-strok-clr);
    border-radius: var(--header-corner) var(--header-corner) 0 0;
    -webkit-border-radius: var(--header-corner) var(--header-corner) 0 0;
    -moz-border-radius: var(--header-corner) var(--header-corner) 0 0;
    -ms-border-radius: var(--header-corner) var(--header-corner) 0 0;
    -o-border-radius: var(--header-corner) var(--header-corner) 0 0;
}
.contact-container__header > * {
    flex: 1;
}
form {
    display: flex;
    flex-direction: column;
}
form div {
    border-bottom: 1px solid var(--p-clr);
    display: flex;
    align-items: center;
    margin-block: 1rem;
}
form label, form input {
    color: var(--main-text-clr);
}
form :where(input, textarea)::placeholder {
    color: var(--p-clr);
    font-weight: bold;
}
form :where(input, textarea) {
    background-color: transparent;
    border: 0;
    padding: 1rem;
    outline: 0;
    width: 100%;
}
form textarea {
    min-height: 300px;
    background-color: var(--btn-accent-clr);
    resize: none;
}
form button {
    font-weight: bold;
    align-self: end;
    margin-top: 1rem;
}
.contact-social {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 1rem;
    justify-content: center;
    margin-block: 3rem;
}
@media(max-width: 678px) {
    .contact-social {
        grid-template-columns: repeat(4, auto);
    }
}
.contact-social i {
    color: var(--p-clr);
    font-size: 1.5rem;
    cursor: pointer;
}