header {
    background: var(--header-clr);
    box-shadow: 0px 0px 2px var(--header-strok-clr);
    backdrop-filter: blur(40px);
    color: var(--dark-gray);
    height: var(--header-height);
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 var(--header-corner) var(--header-corner);
    -webkit-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -moz-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -ms-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -o-border-radius: 0 0 var(--header-corner) var(--header-corner);
}
nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav ul {
    color: var(--link-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.header-icons {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.header-icons ul.social {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.theme-toggle {
    cursor: pointer;
}