:root {
    --header-height: 60px;
    
    /* Dark Mood */
    --bg-clr: #0D0D0D;
    
    --header-clr: rgba(24, 24, 29, .45);
    --header-strok-clr: rgba(255, 255, 255, .1);
    
    --main-text-clr: #FFF;
    /* paragraphs */
    --p-clr: #808080;
    /* footer's parahraphs */
    --footer-p-clr: #808080;
    /* links */
    --link-clr: #C5C5C5;
    
    --card-clr: var(--onyx-clr);
    --strok-clr: #383737;
    
    --btn-accent-clr: var(--onyx-clr);
    --accentbtn-text-clr: var(--p-clr);
    
    /* Dark Gradient */
    --gradient-clr1: #1A1A1A; 
    --gradient-clr2: #131313; 
    

    --shape-gradient1: rgba(13, 13, 13, 100%);
    --shape-gradient2: rgb(48, 47, 47);

    --first-shape: #282727;
    --second-shape: #232323;
    --last-shape: #1C1B1B;

    --onyx-clr: #181818;

    --dark-white: rgba(0, 0, 0, 70%);

    /* Border Radius */
    --btn-corner: 9px;
    --header-corner: 16px;
    --card-corner: 32px;

    /* padding */
    --btn-padding: 16px 32px;
    
    /* Icons */
    --Sun: url("../Images/icons/dark\ Sun.webp");
    --Github: url("../Images/icons/dark\ Github.webp");
    --Linkedin: url("../Images/icons/dark\ LinkedIn.webp");
    --Logo: url("../Images/icons/small\ light.webp");
    --footer-logo: url("../Images/icons/large\ light.webp");
}
h1,h2,h3,h4,h5,h6 {
    color: var(--main-text-clr);
}
p {
    color: var(--p-clr);
}
li {
    color: var(--link-clr);
}
* :not(i),
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-clr);
    position: relative;
    min-height: calc(100vh);
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
}
html.light {
    /* Light Mood */
    --bg-clr: #FBFBFB;
    
    --header-clr: rgba(255, 255, 255, .4);
    --header-strok-clr: rgba(255, 255, 255, .25);
    
    --main-text-clr: var(--onyx-clr);
    --link-clr: #404040;
    
    --card-clr: #F6F6F6;
    --strok-clr: #EBEBEB;
    
    --btn-accent-clr: #F3F3F3;
    --accentbtn-text-clr: var(--onyx-clr);
    
    --shape-gradient1: rgb(187, 181, 181);
    --shape-gradient2: rgba(251, 251, 251, 100%);

    --first-shape: #f6f6f6;
    --second-shape: #e4e4e4;
    --last-shape: #d5cfcf;
    

    --dark-white: rgba(255, 255, 255, 70%);

    /* Icons */
    --Sun: url("../Images/icons/light\ Sun.webp");
    --Github: url("../Images/icons/light\ Github.webp");
    --Linkedin: url("../Images/icons/light\ LinkedIn.webp");
    --Logo: url("../Images/icons/small\ dark.webp");
    --footer-logo: url("../Images/icons/large\ dark.webp");
}
.background-glow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background-glow__top, .background-glow__bottom {
    position: absolute;
    width: 50%;
    height: 80px;
    filter:blur(80px);
    -webkit-filter:blur(80px);
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.background-glow__top {
    top: 0px;
    background:
        radial-gradient(circle at 65% 50%, #4f60e0 47%, transparent 60%),
        radial-gradient(circle at 50% 50%, #E93F40 47%, transparent 60%),
        radial-gradient(circle at 5% 50%, #FFB800 47%, transparent 60%);
}
.background-glow__bottom {
    bottom: 0px;
    background:
        radial-gradient(circle at 95% 50%, #FFB800 47%, transparent 60%),
        radial-gradient(circle at 50% 50%, #E93F40 47%, transparent 60%),
        radial-gradient(circle at 5% 50%, #4f60e0 47%, transparent 60%);
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
.btn {
    cursor: pointer;
    padding: var(--btn-padding);
    background: linear-gradient(to bottom, var(--gradient-clr1), var(--gradient-clr2));
    color: white;
    border: 0;
    outline: 0;
    border-radius: var(--btn-corner);
    -webkit-border-radius: var(--btn-corner);
    -moz-border-radius: var(--btn-corner);
    -ms-border-radius: var(--btn-corner);
    -o-border-radius: var(--btn-corner);
    box-shadow: 0 -1px 2px var(--strok-clr);
}
div.logo {
    width: 35px;
    height: 35px;
    background-image: var(--Logo);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
div#github {
    width: 25px;
    height: 25px;
    background-image: var(--Github);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
div#linkedin {
    width: 25px;
    height: 25px;
    background-image: var(--Linkedin);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
div#sun {
    width: 25px;
    height: 25px;
    background-image: var(--Sun);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.shape-container {
    position: absolute;
    right: 30%;
    top: 30%;
    z-index: -10;
}
.shape {
    position: relative;
    width: 200px;
    height: 250px;

    background: linear-gradient(45deg, var(--shape-gradient2) 10%, var(--shape-gradient1) 100%);

    border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    -moz-border-radius: 100px 100px 0 0;
    -ms-border-radius: 100px 100px 0 0;
    -o-border-radius: 100px 100px 0 0;
}
.shape__detail {
    position: absolute;
    bottom: -7px;
    width: calc(200px / 3);
    background-color: #E0DDDD;
    height: 20px;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    z-index: -1;
}
.shape__detail:first-child {
    background: linear-gradient( 45deg, var(--first-shape) 50%, var(--second-shape) 100%);
}
.shape__detail:nth-child(2) {
    left: calc(200px / 3);
    background: linear-gradient( 45deg, var(--second-shape) 20%,var(--last-shape) 50%, var(--last-shape) 100%);
    /* background-color: var(--second-shape); */
}
.shape__detail:last-child {
    right: 0;
    background-color: var(--last-shape);
}
@media(max-width: 877px) {
    .shape-container {
        display: none;
    }
}
body > section, footer {
    padding-inline: clamp(1rem, 7vw, 9rem);
}

/* Start Header */

.more-slide {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--header-clr);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out, opacity .3s ease-in-out .1s;
    -webkit-transition: max-height .3s ease-in-out, opacity .3s ease-in-out .1s;
    -moz-transition: max-height .3s ease-in-out, opacity .3s ease-in-out .1s;
    -ms-transition: max-height .3s ease-in-out, opacity .3s ease-in-out .1s;
    -o-transition: max-height .3s ease-in-out, opacity .3s ease-in-out .1s;
}
.more-slide.active {
    max-height: 500px;
    opacity: 1;
    z-index: 10000;
}
.header-nav__item--more:hover {
    user-select: none;
    cursor: pointer;
}
.more-slide ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem 3rem;
}
.logo-container-phone {
    display: none;
}
header {
    background: var(--header-clr);
    box-shadow: 0px 0px 2px var(--header-strok-clr);
    backdrop-filter: blur(40px);
    color: var(--dark-gray);
    height: var(--header-height);
    width: 90%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 var(--header-corner) var(--header-corner);
    -webkit-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -moz-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -ms-border-radius: 0 0 var(--header-corner) var(--header-corner);
    -o-border-radius: 0 0 var(--header-corner) var(--header-corner);
}
nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    height: var(--header-height);
}
nav ul {
    color: var(--link-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
nav ul li {
    cursor: pointer;
    user-select: none;
}
.header-nav__icon {
    display: none;
}
.header-icons {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.header-icons ul.header-icons__social {
    display: flex;
    gap: 2rem;
    list-style: none;
}
.header-nav__text .header-nav__item--more {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.theme-toggle {
    cursor: pointer;
}
@media(max-width: 867px) {
    header {
        top: unset;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo-container {
        display: none;
    }
    .logo-container-phone {
        display: block;
        position: absolute;
        z-index: 10000;
        top: 1.3rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .header-icons {
        display: none;
    }
    nav {
        width: 100%;
    }
    .header-nav__text {
        display: none;
    }
    .header-nav__icon {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 0;
    }
    .header-nav__icon li {
        font-size: 1.3rem;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }
    .more-slide {
        top: unset;
        bottom: 100%;
        left: unset;
        right: 0;
    }
}

/* Start main */

main {
    padding-block: var(--header-height);
    padding-inline: clamp(1rem, 7vw, 9rem);
    display: grid;
    gap: 2rem;
}
html:not(.light) main .main__head-highlight {
    color: var(--p-clr);
}
main {
    position: relative;
}
main h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}
main p {
    width: 100%;
    max-width: 500px;
    line-height: 1.7rem;
}
main .main-btns__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
main .main-btns__container .btn {
    flex-grow: 1;
    min-width: fit-content;
}
.btn--secondary {
    background-color: var(--btn-accent-clr) !important;
    color: var(--accentbtn-text-clr);
    background: none;
    box-shadow: 0 0;
}
@media(min-width: 768px) {
    main .main-btns__container {
        flex-direction: row;
    }
    main .main-btns__container .btn {
        flex-grow: 0;
    }
}

/* Start Selected Work */

.card-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 450px;
    max-height: 100%;
    overflow: hidden;
    gap: 3rem;
    background-color: var(--btn-accent-clr);
    padding: 2rem;
    margin-block: 3rem;
    border-radius: var(--card-corner);
    -webkit-border-radius: var(--card-corner);
    -moz-border-radius: var(--card-corner);
    -ms-border-radius: var(--card-corner);
    -o-border-radius: var(--card-corner);
}
.card-primary__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:  450px;
    max-width: 100%;
}
.card-content__logo {
    width: 50px;
    height: 50px;
}
.card-content__logo img {
    width: 100%;
}
.card-primary__content h2 {
    margin-block: 2rem;
}
.card-primary__content .card-content__link {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: auto;
    margin-top: 2rem;
}
.card-content__link i {
    font-size: 1.2rem;
    color: var(--main-text-clr);
}
.card-primary a {
    color: var(--main-text-clr);
}
.card-primary__img {
    max-width: 100%;
    height: 100%;
}
.card-primary__img img {
    max-width: 100%;
    width: 350px;
    height: auto;
}
@media(max-width: 899px) {
    .card-primary__img {
        display: none;
    }
}

/* Start About */

.about-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin-top: 3rem;
}
.aboutme .about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
}
.aboutme .about-card .card-content__logo {
    width: 100%;
    height: auto;
}
@media(max-width: 768px) {
    .about-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

/* Start Contact */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-block: 5rem;
}
.contact .card-primary {
    flex: 1;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100%;
}
.contact .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.contact .btn i {
    color: white;
}
@media(max-width: 768px) {
    .contact {
        flex-direction: column;
    }
    .contact .btn {
        align-self: stretch;
    }
}

/* Start Footer */

footer {
    padding-block: 5rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--header-strok-clr);
}
footer > section {
    flex: 1;
}
footer .footer-logo {
    width: 75px;
    height: 75px;
    background-image: var(--footer-logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .footer-id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-id__top p,
footer .footer-id__bottom {
    color: var(--main-text-clr);
}
.footer-links {
    display: flex;
    justify-content: space-around;
}
.footer-links ul {
    list-style: none;
}
.footer-links ul h2 {
    margin-bottom: 2rem;
}
.footer-links ul li {
    margin-block: 1rem
}

@media(max-width: 867px) {
    footer {
        flex-direction: column-reverse;
        align-items: start;
        gap: 5rem;
    }
    .footer-links {
        flex-direction: column;
        gap: 5rem;
    }
}