.techStack {
    padding-top: 7rem;
}
.techStack-head {
    margin-bottom: 3rem;
}
.cards-container {
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
@media(max-width: 768px) {
    .cards-container {
        display: block;
    }
}
.card {
    padding: 2rem;
    max-width: 100%;
    background-color: var(--card-clr);
    text-align: center;
    border-radius: var(--card-corner)0;
    -webkit-border-radius: var(--card-corner)0;
    -moz-border-radius: var(--card-corner)0;
    -ms-border-radius: var(--card-corner)0;
    -o-border-radius: var(--card-corner)0;
}
.card picture {
    display: inline-block;
    width: 100px;
    height: auto;
}
.card picture :where(source, img) {
    width: 100%;
}
.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}
.card div span {
    background-color: var(--dark-white);
    color: var(--link-clr);
    border-radius: var(--card-corner);
    -webkit-border-radius: var(--card-corner);
    -moz-border-radius: var(--card-corner);
    -ms-border-radius: var(--card-corner);
    -o-border-radius: var(--card-corner);
    font-size: .7rem;
    padding: .4rem .7rem;
}